* {
  font-size: 14px; }

.topcontainer {
  width: 800px;
  border: 1px solid black;
  margin: 0 auto; }

.Etsy {
  color: #EC6333;
  font-size: 40px; }

.searchBarWrapper {
  display: inline-block;
  margin-left: 20px;
  border: 1px solid #4AA8C4;
  border-radius: 3px; }
  .searchBarWrapper .searchInput {
    border: none;
    padding-left: 5px; }
  .searchBarWrapper .searchButton {
    padding: 10px 8px;
    background-color: #4AA8C4;
    border: 1px solid #4AA8C4;
    border-radius: 2px; }

.topBarNav {
  display: inline-block;
  margin-left: 60px; }
  .topBarNav ul {
    display: inline-block; }
  .topBarNav li {
    display: inline-block;
    padding: 0 10px; }

.navBar {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin: 10px 0; }
  .navBar ul {
    text-align: center;
    padding: 1px 2px; }
  .navBar li {
    display: inline-block;
    padding: 0px 5px;
    font-size: 12px; }

.bodycontainer {
  width: 800px;
  border: 1px solid black;
  margin: 0 auto;
  padding: 0;
  background-color: #F5F5F1; }
  .bodycontainer .sidebar {
    display: inline-block;
    width: 200px;
    border: 1px solid black;
    padding: 20px;
    margin: 10px 10px;
    vertical-align: top; }
  .bodycontainer .mainpanel {
    display: inline-block;
    width: 470px;
    border: 1px solid black;
    padding: 20px;
    margin-left: 20px;
    vertical-align: top;
    margin: 10px 10px; }
    .bodycontainer .mainpanel .itemboxes {
      display: block; }
