// stlye variables
$etsyOrange: #EC6333;
$etsyBlue: #4AA8C4;
$etsyGray: #F5F5F1;
$etsyBorder: #E1E3DF;
$pageWidth: 950px;
$sidebarWidth: 240px;
$mainPanelWidth: 690px;


* {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  color: #555563;
}



h2 {
  font-size: 1.1em;
  font-weight: bold;
}

// top bar

.topbar {
  width: $pageWidth;
  margin: 0 auto;

}

.Etsy {
  color: $etsyOrange;
  font-size: 40px;
}

.searchBarWrapper {
  display: inline-block;
  margin-left: 20px;
  border: 1px solid $etsyBlue;
  border-radius: 3px;

  .searchInput {
    border: none;
    padding-left: 5px;
    padding-right: 35px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
  }

  .searchButton {
    padding: 10px 10px;
    background-color: $etsyBlue;
    border: 1px solid $etsyBlue;
    border-radius: 2px;
    color: white;
  }

}

.topBarNav {
  display: inline-block;
  margin-left: 70px;
  color: $etsyBlue;
    ul {
      display: inline-block;
    }
    li {
      display: inline-block;
      padding: 0 15px;
    }
}



// Second bar: nav


hr {
    border-top: .03px solid #E1E3DF;
    width: 100%;
    margin-top: 15px;
}

.navBar {
  margin: 10px 0px 0px 0px;
  ul {
    margin-left: 0;
    text-align: center;
    padding: 1px 0px;
  }
  li {
    display: inline-block;
    padding: 0px 23px 5px 0px;
    font-size: 1em;
    }
  }




// bodycontainer

.graycontainer {
  background-color: $etsyGray;
  border-top: 2px solid $etsyGray;
}

.bodycontainer  {
  width: $pageWidth;
  margin: 0 auto;
  padding: 0;
  background-color: $etsyGray;

  .sidebar {
    display: inline-block;
    width: $sidebarWidth;
    vertical-align: top;
    margin-left: 5px;


    .sideList {
      border-radius: 3px;
      background-color: white;
      border: 1px solid #CBCCC9;
      padding: 10px;
      line-height: 1.9em;

       span {
        padding-left: 5px;
        font-weight: bold;
        font-size: 1.05em;
      }

      ul {
      list-style-type: none;
      padding-left: 10px;
      font-size: .9em;
 

        .mainList {
          color: $etsyBlue;
        }
      }

        .radiobutton {
          radius: 3px;
          margin-left: 5px;
          margin-top: 10px;

            .radiobutton :hover {
            background-color: black;
            }
        }

      a {
        color: $etsyBlue;
        text-decoration: none;
        padding-left: 8px;
        }

    }

  }

  .mainpanel {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  }

    .itemBoxes {
      display: inline-block;
      padding: 0px;
      width: $mainPanelWidth;
    }
    

      .itemBoxes .itemBox {
        display: inline-block;
        margin-top: 0px;
        margin: 0px 5px 15px 4px;
        width: 31%;
        
        vertical-align: top;
        border-radius: 3px;
        background-color: white;
        border: 1px solid #CBCCC9;
            .imagecard {
              position: relative;
            } 

            .itemImages{
                border-radius: 2px;
                width: 100%;
                padding: 0px;
                overflow: hidden;
                z-index: 0;
                border-bottom: 1px solid $etsyBorder;
                box-sizing: border-box;
              }

              a button .hamburger{
                opacity: 0;
                float: left;
                width: 15px;
                vertical-align: center;
               }

               a button {
                opacity: 0;
                float: right;
                position: absolute;
                top: 3px;
                right: 0px;
                bottom: 10px;
                left: 170px;
                border: 1px solid $etsyBorder;
                width: 40px;
                height: 25px;
                padding: 1px;
                border-radius: 3px;
                background-color: white;
               }

              a:hover button .hamburger {
                opacity: .95;
                z-index: 2;
        
              }
            

              a:hover button {
                opacity: .95;
                z-index: 2;
              }

              a:hover button:hover {
                opacity: 100;
                z-index: 2;
                link: disabled;
              }

               a:hover button:link {
                link: disabled;
              }

              a:hover button:hover .hamburger {
                opacity: 100;
              }

               a:hover .triangle {
                opacity: 100;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 8px 4px 0 4px;
                border-color: #d4d4d4 transparent transparent transparent;
                margin-top: 5px;
                float: right;
                padding-right: 2px;
              }

                a:hover .hamburger:hover {
                    opacity: 100;
                  }
               
               a .heart{
                opacity: 0;
                float: right;
                position: absolute;
                top: 3px;
                right: 0px;
                bottom: 10px;
                left: 140px;
                border: 1px solid $etsyBorder;
                width: 18px;
                padding: 2px;
                border-radius: 3px;
                background-color: white;
               }
               a:hover .heart {
                opacity: .9;
              }

                a:hover .heart:hover {
                    opacity: 100;
                  }

                 

                  div .hidden {
                  z-index: 0;
                  opacity: 0;
                  position: absolute;
                  bottom: 170px;
                  }

                  div.reveallist {
                  border: 2px solid $etsyBorder;
                  background-color: white;
                  margin-left: 80px;
                  overflow: visible;
                  width: 180px;
                  padding: 8px;
                  border-radius: 3px;
                  position: absolute;
                  bottom: 170px;
                  z-index: 2;

                   a {
                        text-decoration: none;
                        text-transform: uppercase;
                        text-align: left;
                    }

                    p {
                      margin-top: 2px;
                      margin-bottom: 4px;
                    }

                    input {
                      font-size: .9em;
                      border-radius: 3px;
                      border: 2px solid $etsyBorder;
                    }
                  }
            
      }

      .itemBox .text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 5px;
        margin: 2px 0;
        font-size: .9em;
        color: #555563;

          a {
            font-size: 1em;
            :hover {

            }
          }
      }

      .itemBox .shopName {
        display: inline-block;
        font-size: 10px;
        padding-left: 5px;
        margin: 2px 0;
        vertical-align: center;
        a {
          font-size: 1.2em;
           color: #C7B4AA;
        }
      }


      .itemBox .shopName:hover {
        text-decoration: underline;
      }


      .itemBox .price {
        display: inline-block;
        float: right;
        padding-right: 5px;
        font-size: 12px;
        text-align: right;
        padding-left: 5px;
        margin: 2px 0;
        color: #78C094;
      }

    

   

      
}  
  
  







