<!DOCTYPE html>
<html>
<head>
  <title>SAMPLE PROJECT</title>
  <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

  <div class="container">

  <div class="topbar">

    <span class="Etsy">Etsy</span>
    
    <form class="searchBarWrapper">
      <input class="searchInput" type="text" placeholder="Search for items">
      </input>
    </form>



  </div>

 
    

    <script type="text/template" id="itemTemplate">
      <div> 
        <p>
          <%= title %>
        </p>
        <p class="price">
          $<%= price %>
        </p>
      </div>
      <hr>
    </script>


  
  
<!-- 
      <div class="sidebar">
      <p>Hello, I'm a sidebar</p>

      </div>

      <div class="mainpanel">
      <p>Hello, I'm the main panel</p>
 -->
  
  </div>



  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>

  <script src="js/etsy.js"></script>
  <script src="js/main.js"></script>
</body>
</html>