<!DOCTYPE html>
<html>
<head>
  <title>SAMPLE PROJECT</title>
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>

  <div class="topcontainer">
     
    
      
      <div class="topbar">

          <span class="Etsy">Etsy</span>
          
          <form class="searchBarWrapper">
            <input class="searchInput" type="text" placeholder="Search for items">
            </input>
            <button class="searchButton">Search</button>
          </form>


          
          <nav class="topBarNav">
          <!-- add a link -->
            <span class="sellOn">Sell on Etsy</span>
            <ul class="topRightIcons">
              <li>Home</li>
              <li>Favorites</li>
              <li>You</li>
              <li>Cart</li>
            </ul>
          </nav>

          
      </div>

<hr>

     
      <nav class="navBar">

        <ul>
          
          <li>Clothing & Accessories</li>
          <li>Jewelry</li>
          <li>Crafts Supplies & Tools</li>
          <li>Weddings</li>
          <li>Entertainment</li>
          <li>Home & Living</li>
          <li>Kids & Baby</li>
          <li>Vintage</li>

        </ul>

      </nav>

  </div>

  <div class = "graycontainer">
  
  <div class ="bodycontainer">

  <div class="sidebar">
        <h2>Show results for</h2>
        <div class="sideList">
          <span>All Categories</span>
          <ul class="showResults">  
            <li class="mainList">Clothing</li>
            <li class="mainList">Accessories</li>
            <li class="mainList">Art & Collectibles</li>
            <li class="mainList">Home & Living</li>
            <li class="mainList">Craft Supplies & Tools</li>
            <li class="mainList">Jewelry</li>
            <li class="mainList">Paper & Party Supplies</li>
            <li class="mainList">Bath & Beauty</li>
          </ul>
        </div>

        <hr>

        <h2>Refine your search</h2>
        <div class="sideList">
        <span>Item type</span><br>
            <button class="radiobutton"></button><a href="#" type="radio">All items</a><br>
            <button class="radiobutton"></button><a href="#">Handmande</a><br>
           <button class="radiobutton"></button><a href="#">Vintage</a>


      
        </div>

        <hr>

        <h2>Price</h2>
         
         <form>
            <input class="lowPrice" type= "text" placeholder="Low">
            </input>
            <span>to</span>
            <input class="highPrice" type= "text" placeholder="High">
            </input>
            <button class="priceButton"> > </button>
          </form>


        <h2>Filter by Color</h2>
            <ul>
              <li>X</li>
              <li>X</li>
              <li>X</li>
              <li>X</li>
              <li>X</li>
              <li>X</li>
            </ul>

        <hr>

        <h2>Ordering Options</h2>
           <ul>
              <li>X</li>
              <li>X</li>
              <li>X</li>
            </ul>

        <hr>

        <h2>Ship To </h2>

        <span>Make drop down</span>


    </div>




    <!-- main panel -->



    <div class="mainpanel">
        <h2>All categories</h2>

          <div class="itemBoxes">
             <script type="text/template" id="itemTemplate">
                 <div class="itemBox">
                  <div class="imagecard">
                  <a href= <%= url %> >
                  <img class="itemImages" src="<%= Images[0].url_170x135 %>">
                    <button id="hambutton"> <img class="hamburger" src="http://i.imgur.com/vzMlwuz.png"> <div class="triangle"> </div> </button>
                    <img class="heart" src="http://i.imgur.com/rnX9fvX.png">
                    <div class="hidden" id="popup">
                      <p class="yourlist">Your lists</p>
                      <input type="text" placeholder="New list">
                      </input>
                    </a>
                  </div>                
                  <p class="text">
                    <%= title %>
                  </p>
                  <p>
                    <%= Shop.shop_name %>
                  </p>
                  <p>
                    $<%= price %>
                  </p>
                </div>
            </script>
          </div>


    </div>
  </div>


   


   

  </div>




  
  <!-- scripts -->

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>

  <script src="js/etsy.js"></script>
  <script src="js/main.js"></script>


</body>
</html>